
.container {
    min-width: 250px;
    height: 70px;
    position:absolute;
    top: 0;
    left: 0;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px black;
    background-color: white;
    z-index: 1000;
    transition: all .2s;    
}

.content {

    .message {
        margin: 3px;
        font-size: 20px;
        font-weight: 500;
    }

    .close {
        margin-left: 10px;
        position: absolute;
        top: 5px;
        right: 5px;
        cursor: pointer;
    }

    .close:hover {
        color:aqua;
    }
}


.duration {
    width: 100%;
    height: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 0px 0px 10px 10px;
    background-color: #ccc;
    overflow: hidden;

    .time-bar {
        width: 100%;
        height: 5px;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #4BB543;
        transition: all 5.1s linear !important;
    }

    .time-bar.active {
        left: -100%;
    }
}

.top {
    top: -100%;
    left: 50%;
    transform: translate(-50%, 0%);
    margin-top: 20px;
    transition: all .5s !important;
}

.top.active {
    top: 0px;
}

.left {
    top: 50%;
    right: 0;
    transform: translate(0%, -50%);
    margin-left: 20px;
}

.right {
    top: 50%;
    left: 0;
    transform: translate(0%, -50%);
    margin-right: 20px;
}

.bottom {
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    margin-bottom: 20px;
}